body{
  background-image: url(/assets/landingbg.jpg);
}
img{
  display: block;
  margin: 0 auto;
  width: 25%;
  height: 25%;
}


.jumbotron{
  background-color: white;
  opacity: 0.4;
  width: 80%;
  float: none;
  margin: 0 auto;
}


