.jumbotron {
    background-color: rgba(0, 0, 0, 0.4);
    width: 90%;
    float: none;
    margin: 0 auto;
    color: white;
    margin-top: 20px;
}
.pulse {
  -webkit-animation: pulse 0.3s; /* Safari 4+ */
  -moz-animation:    pulse 0.3s; /* Fx 5+ */
  -o-animation:      pulse 0.3s; /* Opera 12+ */
  animation:         pulse 0.3s; /* IE 10+, Fx 29+ */
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 0.5s; /* Safari 4+ */
  -moz-animation:    fadeInLeft 0.5s; /* Fx 5+ */
  -o-animation:      fadeInLeft 0.5s; /* Opera 12+ */
  animation:         fadeInLeft 0.5s; /* IE 10+, Fx 29+ */
}

.fadeOutRight {
  -webkit-animation: fadeOutRight 0.5s; /* Safari 4+ */
  -moz-animation:    fadeOutRight 0.5s; /* Fx 5+ */
  -o-animation:      fadeOutRight 0.5s; /* Opera 12+ */
  animation:         fadeOutRight 0.5s; /* IE 10+, Fx 29+ */
}

.questions{
  height: 170px;
}

.questions p{
  font-size: 20px;
}
button{
  width:100%;
}


h3 {
    color: white;
    text-align: center;
}
h2{
  color: white;
  text-align: center;
}
p{
  color: white;
}

#collapseExample{
  margin-top: 20px;
  margin-bottom: 20px;
}

.postScoreButton{
  width: 100%;
}
.postYesButton{
  margin-bottom: 20px;
}

.removeSideScroll{
  max-width: 100%;
  overflow: hidden;
}
.btn{
  margin-bottom: 12px;
}

/*


/* GRÖN KNAPP
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: darkgreen;
  border-color: darkgreen;
}
**************************
  DEFAULT BOOTSTRAP STYLES
**************************


.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkgreen;
  border-color: darkgreen;
}
***********************
  RAISED BUTTONS
************************
.btn-success.raised {
    box-shadow: 0 8px 0 0 darkgreen;
}
.btn-success.raised:active, .btn-success.raised.active {
    background: #30CB00;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

***********************
  CUSTON BTN VALUES
************************
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-success {
    background: #30CB00;
    margin-right: 10px;
    width: 30%;
    color: #ffffff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: #30CB00;
}
.btn-success:active, .btn-success.active {
    background: darkgreen;
    box-shadow: none;
}

RÖD KNAPP
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: darkred;
  border-color: darkred;
}

***********************
  RAISED BUTTONS
************************
.btn-danger.raised {
    box-shadow: 0 8px 0 0 darkred;
}
.btn-danger.raised:active, .btn-danger.raised.active {
    background: red;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

***********************
  CUSTON BTN VALUES
************************
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-danger {
    margin-right: 10px;
    width: 30%;
    background: red;
    color: #ffffff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: red;
}
.btn-danger:active, .btn-danger.active {
    background: darkred;
    box-shadow: none;
}


*/

.rightAnswer{
  background: linear-gradient( #34B36F,  #13AB59);
}

.wrongAnswer{
  background: linear-gradient( #E44172,  #DA1752);
}
@media screen and (device-aspect-ratio: 40/71) {
  .questions p{
    font-size: 16px;
  }
}
@media screen and (device-aspect-ratio: 2/3) {
  .questions p{
    font-size: 16px;
  }
}
