<!-- SKRIV FRÅGE-HTML HÄR -->
<div class="removeSideScroll" *ngIf="showGame">
  <div [ngClass]="showGameClass">
  <div class="container">
    <div class="row">
      <div *ngIf="showP1P2">
        <h3>Now it is: <b>{{ currentPlayer }}</b>'s turn</h3>
      </div>
    </div>
    <div class="row">
      <h3>Question {{currentRound + 1}}</h3>
    </div>
    <div class="row questions">
      <p [innerHTML]="currentQuestion"></p>
    </div>
    <div class="row">
      <button [disabled]="buttonActive" (click)="buttonAnswer = 'True'; clickTrueFalse(buttonAnswer)" class="btn btn-green btn-lg col-sm-12 col-md-4 offset-md-1">True</button>
      <button [disabled]="buttonActive" (click)="buttonAnswer = 'False'; clickTrueFalse(buttonAnswer)" class="btn btn-red btn-lg col-sm-12 col-md-4 offset-md-2">False</button>
    </div>
  </div>
  </div>
</div>

<!-- SKRIV RESULT HTML HÄR -->
<div *ngIf="showResult" class="jumbotron col-lg-6 animated fadeInLeft">
  <h2>You got {{ playerScore }} points!</h2>

  <h3>Post on scoreboard?</h3>
  <button class="btn btn-green btn-lg col-lg-12 postYesButton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
    aria-controls="collapseExample">Yes</button>

  <div class="collapse col-lg-12" id="collapseExample">

      <form ngNativeValidate #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group">
          <input type="text" class="form-control" name="username" minlength="2" placeholder="Username" ngModel required>
        </div>
        <button type="submit col-lg-12" class="btn btn-blue btn-lg postScoreButton">Post score</button>
      </form>

  </div>
    <button class="btn btn-red btn-lg btn-lg col-lg-12" routerLink="/">No</button>
</div>

<div *ngIf="showResult2Players" class="jumbotron col-lg-6 animated fadeInLeft">
  <h2>{{ resultP1P2 }}</h2>
  <div *ngIf="onlyOnTie">
  <button class="btn btn-lg btn-blue" routerLink="/">Home</button>
  </div>
  <div *ngIf="onlyOnWinner">
    <h3>Post on scoreboard?</h3>
    <button class="btn btn-green btn-lg col-lg-12 postYesButton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">Yes</button>

    <div class="collapse col-lg-12" id="collapseExample">

        <form ngNativeValidate #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
          <div class="form-group">
            <input type="text" class="form-control" name="username" minlength="2" placeholder="Username" ngModel required>
          </div>
          <button type="submit col-lg-12" class="btn btn-blue btn-lg postScoreButton">Post score</button>
        </form>

    </div>
      <button class="btn btn-red btn-lg btn-lg col-lg-12" routerLink="/">No</button>
  </div>

</div>
