
<div class="container">
<div class="jumbotron animated fadeIn">
  <h3>Why?</h3>
  <p class="lead">
    This is a quiz game made as a school project in the Information Architecture program at Malmö Universitet.
    This project was made for the course Webbapplikationer in 2nd year.
  </p>
  <h3>How?</h3>
  <p class="lead">
    You can choose to either play solo or multiplayer, choose among 5 different categories and challange yourself
    with different difficulty levels.
  </p>
  <p class="lead">
    The team behind it is:
  </p>

  <div class="row iconRow">
  <img src="/assets/elephant.png" alt="Alexander" class="col col-sm-6 col-md-3">
  <img src="/assets/panda.png" alt="Hareer"       class="col col-sm-6 col-md-3">
  <img src="/assets/redPandaa.png" alt="My"       class="col col-sm-6 col-md-3">
  <img src="/assets/uggla.png" alt="Viktor"       class="col col-sm-6 col-md-3">
  </div>
</div>
</div>
