.btn{
  padding: 20px;
  margin: 30px;
}
.jumbotron{
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  float: none;
  margin: 0 auto;
}
.jumbotron-fluid{
  margin-top: 90px;
}
.avatar {
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 12px;
}
#CenterPic{
  display: table;
  margin: 0 auto;
  justify-content: space-between;
}
p{
  color: #fff;
}
