.btn{
  padding: 20px;
  margin: 30px;
}
.jumbotron{
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  float: none;
  margin: 0 auto;
}
.jumbotron-fluid{
  margin-top: 90px;
}
.avatar {
    vertical-align: middle;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
.avatar[_ngcontent-c3]{
  width: 150px;
  height: 150px;
}
p{
  color: #fff;
}
