<div class="container jumbotron col-lg-6">

  <div class="row col-lg-8 offset-lg-2">
    <table class="table table-hover">
    <thead>
      <h2>Scoreboard:</h2>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody id="displayPlayers">
      <tr *ngFor="let s of scores">
        <td>{{s.playerName}}</td>
        <td>{{s.playerScore}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">

    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sure you want to clear the scoreboard?</h5>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-red" (click)="deleteScore = true; clearScoreboard(deleteScore)" data-dismiss="modal">Clear</button>
       <button type="button" class="btn btn-blue" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

  </div>
  </div>
</div>
