.container{
    color: black;
    font-weight: bold;
}

.jumbotron{
  background-color: rgba(0, 0, 0, 0.4);
  width: 80%;
  float: none;
  margin: 0 auto;
  margin-top: 70px;
}

.modal{
  color: white;
}
.modal-content{
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 50px;
}
.modal-header{
  border: 0px;
}
.modal-footer{
  border: 0px;
}

table{
  color: white;
}
th {
  color: black;
  font-weight: bold;
}
