.container{
    color: black;
    font-weight: bold;
}



.modal{
  color: white;
}
.modal-content{
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
}
.modal-header{
  border: 0px;
}
.modal-footer{
  border: 0px;
}

table{
  color: white;
}

th {
  color: orange;
}
