<div class="container jumbotron col-lg-6">

  <div class="row col-lg-8 offset-lg-2">
    <table class="table">
    <thead>
      <h3>Scoreboard:</h3>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody id="displayPlayers">
      <tr *ngFor="let s of scores">
        <td>{{s.playerName}}</td>
        <td>{{s.playerScore}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button (click)="deleteScore = true; clearScoreboard(deleteScore)">Delete Results</button>
  </div>
  </div>
</div>
