

<div *ngIf="showCategory" class="jumbotron col-lg-6 animated fadeIn">

<!-- SKRIV KATEGORI HTML HÄR -->
<h3>Choose category: </h3>
<button (click)="category='9'; setCategory(category)" class="btn btn-blue btn-lg btn-block">General</button>
<button (click)="category='21'; setCategory(category)" class="btn btn-orange btn-lg btn-block">Sports</button>
<button (click)="category='23'; setCategory(category)" class="btn btn-purple btn-lg btn-block">History</button>
<button (click)="category='27'; setCategory(category)" class="btn btn-green btn-lg btn-block">Animals</button>
<button (click)="category='18'; setCategory(category)" class="btn btn-red btn-lg btn-block">Sci - Computers</button>
<button (click)="category='32'; setCategory(category)" class="btn btn-pink btn-lg btn-block">Cartoons</button>

</div>


<div *ngIf="showDifficulty" class="jumbotron col-lg-6 animated fadeIn">

<!-- SKRIV SVÅRIGHETSGRAD HTML HÄR -->
<h3>Choose difficulty:</h3>
<button *ngIf="showHardButton" (click)="difficulty='hard'; setDifficulty(difficulty)" class="btn btn-danger btn-lg btn-block">Difficult</button>
<button (click)="difficulty='medium'; setDifficulty(difficulty)" class="btn btn-warning btn-lg btn-block round">Medium</button>
<button (click)="difficulty='easy'; setDifficulty(difficulty)" class="btn btn-success btn-lg btn-block round">Easy</button>
</div>
