h3{
  color: white;
  text-align: center
}
.btn{
    float: 0;
    margin: 0 auto;
    margin-bottom: 12px;
}

.breadcrumb{
  margin-top: -20px;
  background-color: transparent; 
}

a {
  color: white;
}
.active{
  text-decoration: underline;
  color: orange;
  font-weight: bold;
}