

<div *ngIf="showCategory" class="jumbotron">

<!-- SKRIV KATEGORI HTML HÄR -->
<h3>Välj kategori: </h3>
<button (click)="category='9'; setCategory(category)" class="btn btn-cyan btn-lg btn-block round">General</button>
<button (click)="category='21'; setCategory(category)" class="btn btn-orange btn-lg btn-block round">Sports</button>
<button (click)="category='23'; setCategory(category)" class="btn btn-yellow btn-lg btn-block round">History</button>
<button (click)="category='27'; setCategory(category)" class="btn btn-success btn-lg btn-block round">Animals</button>
<button (click)="category='18'; setCategory(category)" class="btn btn-white btn-lg btn-block round">Sci - Computers</button>
<button (click)="category='32'; setCategory(category)" class="btn btn-pink btn-lg btn-block round">Cartoons</button>

</div>





<div *ngIf="showDifficulty" class="jumbotron">

<!-- SKRIV SVÅRIGHETSGRAD HTML HÄR -->
<h3>Välj svårighetsgrad:</h3>
<button (click)="difficulty='hard'; setDifficulty(difficulty)" class="btn btn-danger btn-lg btn-block round">Difficult</button>
<button (click)="difficulty='medium'; setDifficulty(difficulty)" class="btn btn-warning btn-lg btn-block round">Medium</button>
<button (click)="difficulty='easy'; setDifficulty(difficulty)" class="btn btn-success btn-lg btn-block round">Easy</button>
</div>
